<!doctype html>
<html lang="en">
<head>
	<meta name="viewport" content="initial-scale=1.0, width=device-width, user-scalable=no" />
	<link rel="stylesheet" type="text/css" href="/common-css/style.css">

	<script src="/common-js/jquery/jquery-2.2.2.js"></script>
	<script src="/common-js/mobido-bot-widget-shim.js"></script>
	<script src="/common-js/common.js"></script>
	<script src="homepage.js"></script>
	<style>
	</style>
</head>
<body>
	<div id="error_bar">
		<span class="message"></span>
		<img src="/common-images/cancel(25).png" class="cancel"/>
	</div>
	<div id="success_bar">
		<span class="message"></span>
		<img src="/common-images/cancel(25).png" class="cancel"/>
	</div>
	<div class="section-header">
		<center>
			<h3>This is your bots homepage!</h3>
			<div>You are <span id="nickname">?</span></div>
			<div>
				<input id="select_persona_button" type="button" value="Select Persona"/>
				<input id="start_chat_button" type="button" value="Start Chat"/>
				<input id="ping_bot_server_button" type="button" value="Ping Bot Server"/>
			</div>
		</center>
	</div>
</body>
</html>