<!doctype html>
<html lang="en">
<head>
	<title>Mobido xBot</title>
	<meta name="viewport" content="initial-scale=1.0, width=device-width, user-scalable=no" />
	<link rel="stylesheet" type="text/css" href="/common-css/style.css">
	<script src="/common-js/jquery-3.1.1.min.js"></script>
	<script src="/common-js/mobido-bot-widget-shim.js"></script>
	<script src="/common-js/common.js"></script>
	<script src="index.js"></script>
	<style>
		body {
		    font-family: -apple-system, Helvetica Neue;
		    font-size: 14px;
		    margin: 0px;
		}

		h1 {
			color: white;
			background-color: #3da3c9;
			font-size: 2em;
			margin: 0;
			padding: 10px;
		}

		a {
			font-size: 1.5em;
			text-decoration: none;
		}
	</style>
</head>
<body>
	<div id="hamburger_mask"></div>
	<img id="logo" src="images/stress-logo.png">
	<div id="header">
		<h1>xBot - I'm just a template!</h1>
	</div>
	<div id="error_bar">
		<span class="message"></span>
		<img src="/common-images/cancel(25).png" class="cancel"/>
	</div>
	<div id="success_bar">
		<span class="message"></span>
		<img src="/common-images/cancel(25).png" class="cancel"/>
	</div>
	<div id="main_content">
		Put HTML goodness here.
	</div>
</body>
</html>