<!doctype html>
<html lang="en">
<head>
	<meta name="viewport" content="initial-scale=1.0, width=device-width, user-scalable=no" />
	<link rel="stylesheet" type="text/css" href="/common-css/style.css">

	<script src="/common-js/jquery/jquery-3.1.1.min.js"></script>
	<script src="/common-js/mobido-bot-widget-shim.js"></script>
	<script src="widget.js"></script>
	<script src="/common-js/common.js"></script>

	<style>
		.loading_spinner {
			display: none;
		}
	</style>
</head>
<body>
	<div id="error_bar">
		<span class="message"></span>
		<img src="/common-images/buttons/cancel(25).png" class="cancel"/>
	</div>
	<div id="success_bar">
		<span class="message"></span>
		<img src="/common-images/buttons/cancel(25).png" class="cancel"/>
	</div>
	<div id="loading_page" class="section-content">
		<img src="/common-images/spinner.gif" class="loading_spinner" />
	</div> 
	<div id="main_page" class="section-content">
		<div id="hamburger_mask"></div>
		<div>
			This is an empty bot widget.  Please add some content!
		</div>
	</div>
</body>
</html>